.navbtnContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbtnContainer > button {
    height: 45px;
}

.rootStyles {
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
    h1 {
        text-align: center;
    }
    button {
        font-weight: 500;
        font-size: 1.25rem;
        background-color: #87D836;
    }
}